---
import '@/styles/tailwind.css';

import projects from '@/data/projects';
import tools from '@/data/tools';

console.log(typeof tools, typeof projects)

import Hero from '@/partials/Hero';
import ProjectList from '@/partials/ProjectList.astro';
import RightRailMessage from '@/partials/RightRailMessage';
import Services from '@/partials/Services.astro';
import Statement from '@/partials/Statement.astro';
import Tools from '@/partials/Tools.astro';
import WaveButton from '@/partials/WaveButton';
import Base from '@/templates/Base.astro';
import Team from '@/partials/Team.astro';
import AppConfig from '@/utils/AppConfig';

const { description, title } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero client:load>
    <h2
      class='staggered pb-10 text-xl leading-6 tracking-tighter opacity-0 md:w-[610px] md:text-3xl xl:w-[730px] xl:text-4xl'
    >
      A Brooklyn-based studio specializing in websites for startups
      and small businesses.
    </h2>
    <WaveButton className='fadeUpIn'>Get In Touch</WaveButton>
    <RightRailMessage className="fadeUpIn">Booking projects for March 2024 and beyond</RightRailMessage>
  </Hero>
  <ProjectList projects={projects} />
  <Services />
  <Tools tools={tools} />
  <Statement />
  <Team />
</Base>

<script>
  import AnimateIn from '@/scripts/AnimateIn';
  AnimateIn();
</script>
