---
import { Image } from 'astro:assets';

import imageSrc from '@/images/web-services.jpg';
import UnderlinedLink from '@/partials/UnderlinedLink';
---

<div id="services" class='flex pb-32 pt-24 w-11/12' style="min-height: calc(100vh - 192px)">
  <div class="hidden md:block w-1/2">
    <Image src={imageSrc} alt="Web Development Services" class="rounded-xl h-auto w-10/12 xl:w-3/4 xl:m-auto fadeUpInOnScroll" />
  </div>
  <div class="self-center grow">
    <h3 class='pb-4 md:pb-12 text-4xl font-bold uppercase tracking-tighter md:text-7xl xl:text-8xl fadeUpInOnScroll'>
      Services
    </h3>
    <div class="flex fadeUpInOnScroll">
      <ul class="list text-lg mr-6 w-1/2 md:width-auto lg:mr-0 lg:w-1/2">
        <li>Business Websites</li>
        <li>Landing Pages</li>
        <li>Web Apps</li>
        <li>Front-End Web Development</li>
        <li>Prototyping</li>
        <li>SEO</li>
      </ul>
      <ul class="list">
        <li>Product Design</li>
        <li>Motion Design</li>
        <li>Illustration</li>
        <li>User Flows</li>
        <li>Branding</li>
      </ul>
    </div>
    <p class="text-xl leading-6 flex flex-col md:block md:text-2xl mt-6 lg:mt-14 xl:mt-28 fadeUpInOnScroll">Don't see your need here? <span><UnderlinedLink href="mailto:wave-hello@wavesweb.studio">Ask us</UnderlinedLink> about it.</span></p>
  </div>
</div>