---
---
<section class="flex items-center" style="min-height:57vh">
  <div class="flex h-max">
    <h2 class="w-1/3 self-start">Why Waves</h2> 
    <div class="w-1/2 text-4xl mb-32">
      <p class="mb-10">
        Need more than Fiverr but less than an agency? Waves fill that gap. We are a
        network of agency veterans and self-starters with years expertise in
        marketing, eCom, and product web design and development.
      </p>
      <p>
        We combine experience working with fortune 500 companies such as Apple,
        Starbucks, and NBCUniversal, with first-hand knowledge of the best tools for startups, entrepreneurs and doers - our people.
      </p>
    </div>
  </div>
</section>
