---
---
<section class="flex items-center w-11/12" style="min-height:57vh">
  <div class="flex h-max">
    <h2 class="w-1/3 self-start text-lg">Why Waves</h2> 
    <div class="w-1/2 text-4xl mb-32">
      <p class="mb-10 fadeUpInOnScroll">
        Need more than Fiverr but less than an agency? Waves fill that gap. We are a
        network of agency veterans and side-hustlers with years of expertise in web design and development.
      </p>
      <p class="fadeUpInOnScroll">
        We combine experience working with fortune 500 companies, such as Apple and 
        Starbucks, with first-hand knowledge of the best tools for startups, entrepreneurs, and doers.
      </p>
    </div>
  </div>
</section>
