---
import WaveButton from './WaveButton';
---

<div class=''>
  <h4>Work with us</h4>
  <p>
    If you're a tech worker, especially a woman or person of color, let's
    collaborate.
  </p>
  <WaveButton>Work with us</WaveButton>
</div>
