---
import SVG from '@/svgs/astro-icon-dark.svg';
---

<div class='flex pb-32 w-full'>
  <ul>
    <li>
      <svg>
        <use xlink:href={SVG} />
      </svg>
      <p>Astro.js</p>
    </li>
  </ul>
</div>