---
import { Icon } from 'astro-icon/components';

const logos = [
  { name: 'GSAP', filename: 'gsap' }, // duplicated because you cannot see them
  { name: 'Astro.js', filename: 'astrojs' },
  { name: 'Tailwind CSS', filename: 'tailwindcss' },
  { name: 'TypeScript', filename: 'typescript' },
  { name: 'styled-components', filename: 'styled-components' },
  { name: 'React', filename: 'react' },
  { name: 'Wordpress', filename: 'wordpress' },
  { name: 'Figma', filename: 'figma' },
  { name: 'Squarespace', filename: 'squarespace' },
  { name: 'Shopify', filename: 'shopify' },
  { name: 'Webflow', filename: 'webflow' },
  { name: 'Contentful', filename: 'contentful' },
  { name: 'SASS', filename: 'sass' },
  { name: 'Next.js', filename: 'nextjs' },
  { name: 'GSAP', filename: 'gsap' },
  { name: 'Astro.js', filename: 'astrojs' }, // duplicated because you cannot see them
  // {name: "Framer", filename: "framer" },
  // { name: 'HTML', filename: 'html' },
  // { name: 'CSS', filename: 'css' },
  // { name: 'JavaScript', filename: 'javascript' },
  // { name: 'Firebase', filename: 'firebase' },
  // { name: 'AWS', filename: 'aws' },
  // { name: 'Google Analytics', filename: 'google-analytics' },
];
---

<section class='w-full '>
  <!-- <h2 class='flex justify-between pb-14 text-lg'>
    Tools of the Trade
    <p class='mr-[-2px]'>Refreshed Often</p>
  </h2> -->
  <div class='flex w-full overflow-hidden pb-32'>
    <ul id='logo-list' class='flex'>
      {logos.map(({ name, filename }) => (
        <li class="fadeUpInOnScroll2 mr-28 translate-y-3 text-center opacity-0">
          <Icon name={filename} class="mb-2 size-20" />
          <p>{name}</p>
        </li>
      ))}
    </ul>
  </div>
</section>

<script>
  import { customEase } from '@/utils/Animation';
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const list = document.getElementById('logo-list');

  const viewportWidth = document.documentElement.clientWidth;

  // fixme: this animatio can get choppy,
  // can my first approach use rAF to animate smoothly?
  gsap.to(list, {
    xPercent: -100,
    x: () => viewportWidth,
    ease: 'none', // <-- IMPORTANT!
    scrollTrigger: {
      start: 'top bottom',
      trigger: '#logo-list',
      scrub: 0.5,
      end: 'bottom top',
    },
  });

  ScrollTrigger.create({
    trigger: '#logo-list',
    start: 'top bottom',
    end: 'top top',
    onEnter: () => {
      gsap.to('.fadeUpInOnScroll2', {
        opacity: 1,
        y: 0,
        stagger: 0.1,
        duration: 1,
        ease: customEase,
      });
    },
  });
</script>
