<a
  href='#'
  class='fadeUpIn relative self-start overflow-hidden rounded-full border-2 border-black px-4 py-2 text-lg'
  ><slot></slot>
</a>

<style>
  a {
    background: url(/assets/images/wave.svg) repeat-x #fff;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    background-size: 200% 200%;
    background-position-x: 0;
    background-position-y: 48px;
    transition: background-position-y 1s cubic-bezier(0.645, 0.045, 0.355, 1),
      color 0.4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: waveAnimation 2s infinite linear;
  }
  a:hover {
    color: white;
    background-position-x: 0;
    background-position-y: 62%;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  @keyframes waveAnimation {
    from {
      background-position-x: 0%;
    }
    to {
      background-position-x: 200%;
    }
  }
</style>
